.line::before {
  background-color: #3E3E3E;
  content: "";
  display: block;
  left: 0;
  position: absolute;
  bottom: -35px;
  height: 100%;
  width: 2px;
}

.line:last-child::before {
  background: linear-gradient(180deg, #3E3E3E 0%, rgba(62, 62, 62, 0) 100%);
  bottom: 0px;
}

.line::after {
  content: "";
  display: block;
  height: 10px;
  width: 10px;
  background-color: #1A1A1A;
  border: 1px solid white;
  border-radius: 50%;
  left: -0.25%;
  top: 5.5%;
  position: absolute;
}


.fadeInItem {
  animation: fadeIn 600ms ease-in-out;
  animation-fill-mode: forwards;
  opacity: 0;
  transform: translateY(-10px);
}


@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 100;
    transform: translateY(0px);
  }
}

.animDelay50 {
  animation-delay: 50ms !important;
}

.animDelay100 {
  animation-delay: 100ms !important;
}

.animDelay200 {
  animation-delay: 200ms !important;
}

.animDelay300 {
  animation-delay: 300ms !important;
}

.animDelay500 {
  animation-delay: 500ms !important;
}

.animDelay700 {
  animation-delay: 700ms !important;
}

.animDelay1000 {
  animation-delay: 1000ms !important;
}